.scrollBarStyle::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.scrollBarStyle::-webkit-scrollbar {
  width: 8px;
}

.scrollBarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eaecf0;
}

.widget-frame {
  box-sizing: border-box;
  /* width: 527px;
  height: 287px; */
  width: 100%;
  height: 100%;

  background: #f9f9f9;
  border: 1px solid #f2f2f2cc;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.outer-transcript-container {
  width: 100%;
  padding: 1.25em 1.625em 1em 1.625em;
  flex: 1;
  position: relative;
}

.inner-transcript-container {
  width: 100%;
  height: calc(100vh - 150px); /* 150px is the height of the bottom bar + padding */
  display: block;
  overflow-y: auto;
  /* border: 1px solid #f00; */
}

.try-all-features-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75em;
  font-family: InterMedium, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: #2669ff;
  border-radius: 0.5em;
  border: 3px solid #1472fd33;
  padding: 0.5em 1em;
}

.transcribed-text {
  font-size: 1.1875em; /* 19px from figma */
  line-height: 180%;
  font-family: InterLight, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #5a5d5f;
  padding-right: 0.5em;
}

.partials-text {
  color: #ababab;
  font-style: italic;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
  padding: 0em 1em 1em 1.5em;
}

button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  background-color: #fff;
  color: #344054;
  cursor: pointer;
  font-size: 0.875em;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 0.5em 0.875em;
  white-space: nowrap;
  font-weight: 600;
}

.start-button {
  border: 1px solid #d0d5dd;
}
.start-button:hover {
  background: #f9fafb;
  color: #1d2939;
  border: 1px solid #d0d5dd;
}

.stop-button {
  background-color: #d92d20;
  color: white;
}

.retry-button {
  background-color: #dc6803;
  color: white;
}

.warning-non-button {
  background-color: #dc6803;
  color: white;
  cursor: default;
}

.timeleft-status {
  color: #667085;
  font-size: 0.75em;
}

.bottom-button-status {
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 1em;
  background-color: #fffaeb;
}

.bottom-status {
  color: #b54708;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  padding-left: 1em;
  padding-right: 1em;
}

.inlineTranscriptionDisplay:after {
  content: '.';
  display: inline-block;
  width: 6px;
  color: transparent;
  margin-left: 0.25em;
  height: 29px;
  background-color: #cacaca;
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* 


transcription features css 

*/

.display-custom-dict .word-custom-dict {
  text-decoration: underline;
}

.not-showing-disfluencies .word-disfluency {
  display: none;
}

.display-confidence .word-confidence-02 {
  color: #d82b2b;
}

.display-confidence .word-confidence-24 {
  color: #ac2d31;
}

.display-confidence .word-confidence-46 {
  color: #7f2f37;
}

.display-confidence .word-confidence-68 {
  color: #53303d;
}

.display-confidence .word-confidence-1 {
  color: #263243;
}

.profanity-inner {
  display: inherit;
}

.non-profanity-inner {
  display: none;
}

.filter-profanities .profanity-inner {
  display: none;
}

.filter-profanities .non-profanity-inner {
  display: inherit;
}

.showing-entities-written .entity-spoken {
  display: none;
}

.showing-entities-spoken .entity-written {
  display: none;
}

.speakerChangeLabel {
  font-weight: bold;
}

.speakerChangeLabel::before {
  content: '';
  display: block;
}

.channelLabel {
  font-weight: bold;
}

.channelLabel::before {
  content: '';
  display: block;
}

.channelLabel::after {
  content: '';
  display: block;
}
