@font-face {
  font-family: InterBold;
  font-weight: 700;
  src: url('../public/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: InterLight;
  font-weight: 300;
  src: url('../public/fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: InterMedium;
  font-weight: 500;
  src: url('../public/fonts/Inter-Medium.woff2') format('woff2');
}
